<div class="grid grid-cols-3 p-3 bg-gray-100">
    <div class="col-span-2 grid grid-rows-6 grid-flow-col gap-1">
        <div class="col-span-2 flex justify-between items-center">
            <h1 class="text-justify px-6 py-3 text-lg font-bold leading-none text-gray-900">Buenos Días <span
                    class="text-sky-600 text-2xl">DR. Kim!</span></h1>
        </div>
        <div
            class="row-span-5 col-span-2 grid grid-rows-3 px-3 rounded-xl bg-gradient-to-tr from-cyan-300 to-sky-600 mx-3">
            <div class="row-span-3 grid grid-cols-4">
                <div class="col-span-2 grid grid-rows-4 grid-cols-2">
                    <div class="col-span-2">
                        <h1 class="text-justify my-4 px-3 text-2xl font-bold leading-none text-gray-900">Visitas para
                            hoy</h1>
                    </div>
                    <div class="col-span-2">
                        <h1 class="text-justify px-3 text-5xl font-bold leading-none text-gray-900">104</h1>
                    </div>
                    <div class="row-span-2 col-span-2 grid grid-cols-2">
                        <div class="relative mx-2 my-4 p-4 rounded-2xl bg-gradient-to-tr from-cyan-300 to-sky-600 shadow">
                            <div class="space-y-2">
                                <div
                                    class="flex items-center space-x-2 rtl:space-x-reverse text-sm font-bold text-black">
                                    <span>Nuevos Pacientes</span>
                                </div>
                                <div class="text-3xl">
                                    40
                                </div>
                                <div
                                    class="flex items-center space-x-1 rtl:space-x-reverse text-sm font-medium text-green-500">
                                    <span>32% aumentar</span>
                                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                        fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="relative mx-2 my-4 p-4 rounded-2xl bg-gradient-to-tr from-cyan-300 to-sky-600 shadow">
                            <div class="space-y-2">
                                <div
                                    class="flex items-center space-x-2 rtl:space-x-reverse text-sm font-bold text-black">
                                    <span>Pacientes Antiguos</span>
                                </div>
                                <div class="text-3xl">
                                    130
                                </div>
                                <div
                                    class="flex items-center space-x-1 rtl:space-x-reverse text-sm font-medium text-red-600">
                                    <span>3% disminuir</span>
                                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                        fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M12 13a1 1 0 100 2h5a1 1 0 001-1V9a1 1 0 10-2 0v2.586l-4.293-4.293a1 1 0 00-1.414 0L8 9.586 3.707 5.293a1 1 0 00-1.414 1.414l5 5a1 1 0 001.414 0L11 9.414 14.586 13H12z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-2 row-span-1 flex items-center justify-center">
                    <img class="absolute w-72 h-96 top-1"
                        src="https://www.mvphealthcare.com/-/media/project/mvp/healthcare/hero-images/1-6-2-2-findadoctor.png?h=550&iar=0&w=393&rev=aad8c1c5f21d401091ed0f36f9da02a3&hash=D363D50C795676D5E9447F6FFB2D1E3C"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="items-center justify-center mx-7">
        <div class="md:p-4 p-4 bg-white rounded-lg border shadow-md">
            <div class="px-4 flex items-center justify-between">
                <span tabindex="0" class="focus:outline-none text-lg font-bold text-black">Calendario</span>
                <button type="button" class="text-gray-500 group px-2 inline-flex items-center rounded-md text-base font-medium hover:text-gray-900" aria-expanded="false">
                    <svg class="text-black ml-1 h-6 w-6 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <div class="px-4 flex items-center justify-between py-2 border-b border-gray-400">
                <span tabindex="0" class="focus:outline-none text-sm font-semibold text-black">Noviembre 2023</span>
                <div class="flex items-center">
                    <button aria-label="calendar backward"
                        class="focus:text-gray-400 hover:text-gray-400 text-gray-800">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left"
                            width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="15 6 9 12 15 18" />
                        </svg>
                    </button>
                    <button aria-label="calendar forward"
                        class="focus:text-gray-400 hover:text-gray-400 ml-3 text-gray-800">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler  icon-tabler-chevron-right"
                            width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="9 6 15 12 9 18" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="flex items-center justify-between pt-3 overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800">Do</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800">Lu</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800">Ma</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800">Mi</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800">Ju</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800">Vi</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-gray-800">Sa</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pt-6">
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                            </td>
                            <td class="pt-6">
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                            </td>
                            <td class="pt-6">
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">1</p>
                                </div>
                            </td>
                            <td class="pt-6">
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">2</p>
                                </div>
                            </td>
                            <td class="pt-6">
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">3</p>
                                </div>
                            </td>
                            <td class="pt-6">
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500">4</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500">5</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">6</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">7</p>
                                </div>
                            </td>
                            <td>
                                <div class="w-full h-full">
                                    <div class="flex items-center justify-center w-full rounded-full cursor-pointer">
                                        <a role="link" tabindex="0"
                                            class="focus:outline-none  focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:bg-indigo-500 hover:bg-indigo-500 text-base w-8 h-8 flex items-center justify-center font-medium text-white bg-gradient-to-tr from-cyan-300 to-sky-600 rounded-full">8</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">9</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">10</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500">11</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500">12</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">13</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">14</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">15</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">16</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">17</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500">18</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500">19</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">20</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">21</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">22</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">23</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">24</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500">25</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500">26</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">27</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">28</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">29</p>
                                </div>
                            </td>
                            <td>
                                <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                    <p class="text-base text-gray-500 font-bold">30</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="py-5 px-4">
        <div class="max-w-2xl mx-auto">
            <div class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-xl font-bold leading-none text-gray-900">Lista de Pacientes</h3>
                    <button type="button" class="text-gray-500 group px-2 inline-flex items-center rounded-md text-base font-medium hover:text-gray-900" aria-expanded="false">
                        <span>Hoy</span>
                        <svg class="text-gray-400 ml-1 h-6 w-6 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <div class="flow-root">
                    <ul role="list" class="divide-y divide-gray-200">
                        <li class="py-3 sm:py-4 px-3 bg-gradient-to-tr from-cyan-300 to-sky-600 rounded-xl">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full"
                                        src="https://flowbite.com/docs/images/people/profile-picture-1.jpg"
                                        alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        Neil Sims
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        email@windster.com
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    9:00 AM
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4 px-3">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full"
                                        src="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
                                        alt="Bonnie image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        Bonnie Green
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        email@windster.com
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    9:15 AM
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4 px-3">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full"
                                        src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                                        alt="Michael image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        Michael Gough
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        email@windster.com
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    9:30 AM
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4 px-3">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full"
                                        src="https://flowbite.com/docs/images/people/profile-picture-4.jpg"
                                        alt="Lana image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        Lana Byrd
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        email@windster.com
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    9:45 AM
                                </div>
                            </div>
                        </li>
                        <li class="pt-3 pb-0 sm:pt-4 px-3">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full"
                                        src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                                        alt="Thomas image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        Thomes Lean
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        email@windster.com
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    10:00 AM
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 pb-2 px-4">
        <div class="max-w-2xl mx-auto">
            <div class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-xl font-bold leading-none text-gray-900">Consulta</h3>
                </div>
                <div class="flow-root">
                    <ul role="list" class="divide-y divide-gray-200">
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full"
                                        src="https://flowbite.com/docs/images/people/profile-picture-1.jpg"
                                        alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        Neil Sims
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        Masculino - 28 Años 3 Meses
                                    </p>
                                </div>
                                <div class="inline-flex items-center">
                                    <button
                                        class=" rounded-full block bg-gray-200 p-1 hover:bg-gray-300 focus:outline-none ">
                                        <svg class="h-5 w-5 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                                                d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center justify-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-10 h-10" src="https://cdn-icons-png.flaticon.com/512/3781/3781981.png"
                                        alt="Thomas image">
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="w-10 h-10" src="https://cdn-icons-png.flaticon.com/512/3781/3781965.png"
                                        alt="Thomas image">
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="w-10 h-10" src="https://cdn-icons-png.flaticon.com/512/6979/6979715.png"
                                        alt="Thomas image">
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="w-10 h-10" src="https://cdn-icons-png.flaticon.com/512/4667/4667161.png"
                                        alt="Thomas image">
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 text-sm font-bold text-gray-900">
                                    Anterior Chequeo
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-xs font-medium text-gray-900">
                                        Dr Everly el 21 de Abril 2023 receta <a href="#"
                                        class="text-xs font-medium text-blue-600 hover:underline">#2J9782KT0</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 text-sm font-bold text-gray-900">
                                    Observación
                                </div>
                                <div class="flex-1">
                                    <p class="text-xs font-medium text-gray-900">
                                        Fiebre alta y tos con niveles normales de hemoglobina.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="py-2 sm:py-1">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 text-sm font-bold text-gray-900">
                                    Receta
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-xs font-medium text-gray-900">
                                        Paracetamol - 2 veces al día
                                    </p>
                                    <p class="text-xs font-medium text-gray-900">
                                        Dizopam - Día y Noche antes de las comidas
                                    </p>
                                    <p class="text-xs font-medium text-gray-900">
                                        Wikoryl
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 px-4">
        <div
            class="block rounded-lg bg-white shadow-md">
            <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="rounded-t-lg" src="https://imagenes.elpais.com/resizer/_41q7CSzSo-itnlDJ1TKy5G0sPg=/828x466/filters:focal(1008x181:1018x191)/cloudfront-eu-central-1.images.arcpublishing.com/prisa/LJOV3SKQPJCFLEJ55TPMEWXD4Q.jpg" alt="" />
            </div>
            <div class="px-6 py-3">
                <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
                    “Entramos en una era que conduce a algo increíble y profundo nunca visto”: la IA toma la mayor feria tecnológica
                </h5>
                <p class="mb-4 text-base text-neutral-600">
                    Toreras que nunca existieron, médicos automáticos, vehículos por tierra y aire y robots con capacidades humanas se exhiben en la feria Gitex, en Dubái
                </p>
            </div>
        </div>
    </div>
</div>